@charset "UTF-8";

.form {     /* 작은 창 폼 */
  position: relative;
  width:1360px;
  z-index: 1;
  background: #FFFFFF;
  max-width: 1360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}

.form input{	   /*  텍스트창의 내부 */
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 35px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight:bold;
}
.form button {  /* 버튼 */
  font-family: 'NANUMSQUARER';
  font-weight:bold;
  text-transform: uppercase;
  background: #2ac1bc;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 13px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}


body {
  background: #2ac1bc; 
}
#id{
	margin : 5px;
}
#option1{
	display: inline-block;
}
.safety{
    display: inline-block;
    text-align: center;
	position: relative;
}
.safety img{
	height : 80px;
	wight: auto;
}